@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.cadastro-conteudo {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.cadastro-blue-background {
  background: linear-gradient(270deg, #053778 -15.87%, #0f6de7 106.86%);
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.cadastro-logo {
  position: absolute;
  top: 10px;
  left: 82%;
  width: 12vh;
  z-index: 2;
}

.cadastro-junin {
  position: absolute;
  left: 30%;
  transform: translateX(-50%);
  width: 80vh;
  z-index: 3;
}

.cadastro-forms {
  width: 55%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cadastro-titulo {
  text-align: center;
  margin-bottom: 20px;
}

.cadastro-titulo h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #2264a2;
  margin: 0;
  font-family: 'Poppins';
}

.cadastro-input-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 15px;
}

.cadastro-input-container input {
  width: 50vh;
  height: 3vh;
  padding: 10px 10px 10px 40px;
  border: 2px solid #2264a2;
  border-radius: 40px;
  background-color: transparent;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.2s;
}

.cadastro-input-container input:focus {
  border-color: rgb(34, 99, 160);
  box-shadow: 0 0 5px rgba(34, 99, 160, 0.5);
}

.cadastro-input-container input::placeholder {
  color: #a0a0a0;
  font-family: 'Poppins';
  transition: font-size 0.3s ease, transform 1s ease;
}

.cadastro-input-container input:focus::placeholder {
  font-size: 0.9rem;
}

.cadastro-icon {
  font-size: 1.2rem;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #2264a2;
}

.cadastro-icon-eye {
  cursor: pointer;
}

.cadastro-link-container {
  text-align: right;
  width: 100%;
}

.cadastro-link-container a {
  color: #2264a2;
  font-size: 1rem;
  text-decoration: none;
  font-family: 'Jost', sans-serif;
}

.cadastro-link-container a:hover {
  text-decoration: underline;
}

.cadastro-submit-btn {
  width: 80%;
  padding: 10px;
  background-color: #074391;
  color: white;
  border: none;
  border-radius: 40px;
  font-weight: 600;
  font-size: 1.3rem;
  font-family: 'Jost', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.cadastro-submit-btn:hover {
  transform: translateY(-3px);
  opacity: 0.9;
}

.cadastro-button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
